<P STYLE="margin-bottom: 0cm"><FONT COLOR="#800000"><FONT FACE="Arial, Tahoma, sans-serif"><FONT SIZE=2 STYLE="font-size: 10pt"><SPAN STYLE="font-style: normal"><B>ст.22
закона «Об охране атмосферного воздуха»:</B></SPAN></FONT></FONT></FONT></P>
<P STYLE="margin-bottom: 0cm; font-style: normal"><FONT COLOR="#800000"><FONT FACE="Arial, Tahoma, sans-serif"><FONT SIZE=2 STYLE="font-size: 10pt"><B>«Юридические
лица, имеющие источники выбросов вредных
(загрязняющих) веществ в атмосферный
воздух и вредных воздействий на него,
проводят <FONT SIZE=3><U>инвентаризацию
выбросов</U></FONT> вредных (загрязняющих)
веществ в атмосферный воздух, вредных
физических воздействий на атмосферный
воздух и их источников в порядке,
определённом федеральным органом
исполнительной власти в области охраны
окружающей среды. (в ред. Федерального
закона от 22.08.2004 №122-ФЗ).</B></FONT></FONT></FONT></P>
<P STYLE="margin-bottom: 0cm"><BR>
</P>
<P STYLE="margin-bottom: 0cm">Мы <B>быстро и качественно</B>
произведем инвентаризацию источников
выбросов ЗВ для получения разрешения
на выброс ЗВ.</P>
<P STYLE="margin-bottom: 0cm"><BR>
</P>
<P STYLE="margin-bottom: 0cm"><B>Наша компания предлагает
сделать это следующим способом: </B>
</P>
<P STYLE="margin-bottom: 0cm">	1. Обеспечить выезд
специалистов и проведение инвентаризации;
</P>
<P STYLE="margin-bottom: 0cm">	2. Произвести подготовку
проекта ПДВ; 
</P>
<P STYLE="margin-bottom: 0cm">	3. Получить разрешение
на выброс ЗВ. 
</P>
<P STYLE="margin-bottom: 0cm"><BR>
</P>
<P STYLE="margin-bottom: 0cm"><FONT SIZE=3 STYLE="font-size: 13pt"><B>Проведение
инвентаризации делится на следующие
этапы:</B></FONT></P>
<P STYLE="margin-bottom: 0cm"> <U>1 Этап – </U><FONT COLOR="#800000"><FONT FACE="Liberation Serif, serif"><FONT SIZE=3><SPAN STYLE="font-style: normal"><U><SPAN STYLE="font-weight: normal">Определение
источников загрязнения</SPAN></U></SPAN></FONT></FONT></FONT><FONT COLOR="#800000"><FONT FACE="Liberation Serif, serif"><FONT SIZE=3><SPAN STYLE="font-style: normal"><U><SPAN STYLE="font-weight: normal">.</SPAN></U></SPAN></FONT></FONT></FONT></P>
<P STYLE="margin-bottom: 0cm">              На этом этапе
н<FONT COLOR="#800000"><FONT FACE="Liberation Serif, serif"><FONT SIZE=3><SPAN STYLE="font-style: normal"><SPAN STYLE="font-weight: normal">а
основе анализа генерального плана
предприятия и принципиальных               
</SPAN></SPAN></FONT></FONT></FONT>
</P>
<P STYLE="margin-bottom: 0cm"><FONT COLOR="#800000">             
<FONT FACE="Liberation Serif, serif"><FONT SIZE=3><SPAN STYLE="font-style: normal"><SPAN STYLE="font-weight: normal">технологических
схем </SPAN></SPAN></FONT></FONT></FONT><FONT COLOR="#800000"><FONT FACE="Liberation Serif, serif"><FONT SIZE=3><SPAN STYLE="font-style: normal"><SPAN STYLE="font-weight: normal">производится
определение источников ЗВ</SPAN></SPAN></FONT></FONT></FONT><FONT COLOR="#800000"><FONT FACE="Liberation Serif, serif"><FONT SIZE=3><SPAN STYLE="font-style: normal"><SPAN STYLE="font-weight: normal">,</SPAN></SPAN></FONT></FONT></FONT></P>
<P STYLE="margin-bottom: 0cm"><FONT COLOR="#800000">              </FONT><FONT COLOR="#800000"><FONT FACE="Liberation Serif, serif"><FONT SIZE=3><SPAN STYLE="font-style: normal"><SPAN STYLE="font-weight: normal">а
так же</SPAN></SPAN></FONT></FONT></FONT><FONT COLOR="#800000"><FONT FACE="Liberation Serif, serif"><FONT SIZE=3><SPAN STYLE="font-style: normal"><SPAN STYLE="font-weight: normal">
уточнение сведений о расположении </SPAN></SPAN></FONT></FONT></FONT>
</P>
<P STYLE="margin-bottom: 0cm; font-style: normal; font-weight: normal">
<FONT COLOR="#800000">              <FONT FACE="Liberation Serif, serif"><FONT SIZE=3>источников
выбросов на территории предприятия;</FONT></FONT></FONT></P>
<P STYLE="margin-bottom: 0cm"><U> 2 Этап – </U><U>Характеризация</U><FONT COLOR="#800000"><FONT FACE="Liberation Serif, serif"><FONT SIZE=3><SPAN STYLE="font-style: normal"><U><SPAN STYLE="font-weight: normal">
источников выбросов.</SPAN></U></SPAN></FONT></FONT></FONT></P>
<P STYLE="margin-bottom: 0cm">              Этот этап
включает характеризацию <FONT COLOR="#800000"><FONT FACE="Liberation Serif, serif"><FONT SIZE=3><SPAN STYLE="font-style: normal"><SPAN STYLE="font-weight: normal">источников
выбросов </SPAN></SPAN></FONT></FONT></FONT>
</P>
<P STYLE="margin-bottom: 0cm; font-style: normal; font-weight: normal">
<FONT COLOR="#800000">              <FONT FACE="Liberation Serif, serif"><FONT SIZE=3>с
указанием назначения, технологического
состояния и оснащения </FONT></FONT></FONT>
</P>
<P STYLE="margin-bottom: 0cm"><FONT COLOR="#800000">              <FONT FACE="Liberation Serif, serif"><FONT SIZE=3><SPAN STYLE="font-style: normal"><SPAN STYLE="font-weight: normal">их
средствами сокращения вредных выбросов</SPAN></SPAN></FONT></FONT></FONT><FONT COLOR="#800000"><FONT FACE="Liberation Serif, serif"><FONT SIZE=3><SPAN STYLE="font-style: normal"><SPAN STYLE="font-weight: normal">;</SPAN></SPAN></FONT></FONT></FONT>
</P>
<P STYLE="margin-bottom: 0cm"> <U>3 Этап – </U><U>Нумерация</U><FONT COLOR="#800000"><FONT FACE="Liberation Serif, serif"><FONT SIZE=3><SPAN STYLE="font-style: normal"><U><SPAN STYLE="font-weight: normal">
источников выбросов.</SPAN></U></SPAN></FONT></FONT></FONT></P>
<P STYLE="margin-bottom: 0cm">              Номера присвоенные
источникам загрязняющим воздух
закрепляются</P>
<P STYLE="margin-bottom: 0cm">              за данными
источниками и в последствии не меняются.
</P>
<P STYLE="margin-bottom: 0cm"><BR>
</P>
<P STYLE="margin-bottom: 0cm"><FONT SIZE=3 STYLE="font-size: 13pt"><B>Подготовка
проекта предельно допустимых выбросов
включает в себя:</B></FONT></P>
<P STYLE="margin-bottom: 0cm"> <SPAN STYLE="text-decoration: none">1</SPAN><FONT FACE="Liberation Serif, serif"><FONT SIZE=3><SPAN STYLE="text-decoration: none">
</SPAN></FONT></FONT><FONT COLOR="#800000"><FONT FACE="Liberation Serif, serif"><FONT SIZE=3><SPAN STYLE="font-style: normal"><SPAN STYLE="text-decoration: none"><SPAN STYLE="font-weight: normal">Установление
перечня вредных веществ, выбрасываемых
в атмосферу и имеющихся норм
предельно-допустимых концентраций в
атмосферном воздухе и в воздухе рабочей
зоны;</SPAN></SPAN></SPAN></FONT></FONT></FONT></P>
<P STYLE="margin-bottom: 0cm"> <SPAN STYLE="text-decoration: none">2
</SPAN><FONT COLOR="#800000"><FONT FACE="Liberation Serif, serif"><FONT SIZE=3><SPAN STYLE="font-style: normal"><SPAN STYLE="text-decoration: none"><SPAN STYLE="font-weight: normal">Составление
технического отчета по результатам
проведенной инвентаризации и его
согласование с Федеральной службой по
надзору в сфере природопользования</SPAN></SPAN></SPAN></FONT></FONT></FONT><FONT COLOR="#800000"><FONT FACE="Liberation Serif, serif"><FONT SIZE=3><SPAN STYLE="font-style: normal"><SPAN STYLE="text-decoration: none"><SPAN STYLE="font-weight: normal">.</SPAN></SPAN></SPAN></FONT></FONT></FONT></P>
<P STYLE="margin-bottom: 0cm; font-style: normal; font-weight: normal">
<BR>
</P>
<P STYLE="margin-bottom: 0cm; font-style: normal"><FONT COLOR="#000000"><FONT FACE="Liberation Serif, serif"><FONT SIZE=3 STYLE="font-size: 13pt"><B>разрешение
на выброс ЗВ:</B></FONT></FONT></FONT></P>
<P STYLE="margin-bottom: 0cm; font-style: normal; font-weight: normal">
<FONT COLOR="#000000">              <FONT FACE="Liberation Serif, serif"><FONT SIZE=3>Получение
разрешения на выброс ЗВ является
трудоемким процессом, т.&nbsp;к. требует </FONT></FONT></FONT>
</P>
<P STYLE="margin-bottom: 0cm; font-style: normal; font-weight: normal">
<FONT COLOR="#000000">              <FONT FACE="Liberation Serif, serif"><FONT SIZE=3>правильно
оформленных документов, которые
необходимо согласовать с </FONT></FONT></FONT>
</P>
<P STYLE="margin-bottom: 0cm; font-style: normal; font-weight: normal">
<FONT COLOR="#000000">              <FONT FACE="Liberation Serif, serif"><FONT SIZE=3>органами
РосПриродНадзора Наша компания возьмет
на себя весь процесс</FONT></FONT></FONT></P>
<P STYLE="margin-bottom: 0cm; font-style: normal; font-weight: normal">
<FONT COLOR="#000000">              <FONT FACE="Liberation Serif, serif"><FONT SIZE=3>оформления
документов, в итоге вы довольно быстро
и без лишней суеты</FONT></FONT></FONT></P>
<P STYLE="margin-bottom: 0cm; font-style: normal; font-weight: normal">
<FONT COLOR="#000000">              <FONT FACE="Liberation Serif, serif"><FONT SIZE=3>получаете
готовое разрешение на выброс ЗВ.</FONT></FONT></FONT></P>
<P STYLE="margin-bottom: 0cm; font-weight: normal"><FONT COLOR="#000000"><FONT FACE="Liberation Serif, serif"><FONT SIZE=3><I><U>Рабочая
группа «Pulse Ecology Consulting»</U></I></FONT></FONT></FONT></P>

