<P STYLE="margin-bottom: 0cm; font-weight: normal"><B>Программное
обеспечение</B> разработанное под заказ
— это не только возможность получить
программный продукт <B>идеально подходящий</B>
под  <B>Ваши нужды</B>, но и <B>оптимизация
труда</B> персонала и <B>сокращение затрат</B>
на оплату монотонной деятельности,
которую впредь будет выполнять программа.</P>
<P STYLE="margin-bottom: 0cm"><BR>
</P>
<P STYLE="margin-bottom: 0cm"><B>Наша компания предлагает
сделать это следующим способом: </B>
</P>
<P STYLE="margin-bottom: 0cm">	1. Проектирование; 
</P>
<P STYLE="margin-bottom: 0cm">	2. Непосредственно
разработка; 
</P>
<P STYLE="margin-bottom: 0cm">	3. Внедрение и отладка.
</P>
<P STYLE="margin-bottom: 0cm"><BR>
</P>
<P STYLE="margin-bottom: 0cm"><FONT SIZE=3 STYLE="font-size: 13pt"><B>Проектирование
состоит из нескольких этапов:</B></FONT></P>
<P STYLE="margin-bottom: 0cm"> <U>1 Этап – </U><U>Знакомство</U><U>
</U>
</P>
<P STYLE="margin-bottom: 0cm">              Как правило
начинается с личной встречи, но по
желанию может происходить</P>
<P STYLE="margin-bottom: 0cm">              удаленно. При
первом знакомстве обсуждаются цели
проекта и пожелания</P>
<P STYLE="margin-bottom: 0cm">              к нему. 
</P>
<P STYLE="margin-bottom: 0cm"><U> 2 Этап – Составление
ТЗ и подписание договора. </U>
</P>
<P STYLE="margin-bottom: 0cm">              Этот этап
включает тесное взаимодействие заказчика
и исполнителя,</P>
<P STYLE="margin-bottom: 0cm">              результатом
этого взаимодействия является подробное
техническое</P>
<P STYLE="margin-bottom: 0cm">              задание с
описанием возможностей и особенностей
программного</P>
<P STYLE="margin-bottom: 0cm">              продукта,
определение стоимости и сроков разработки.
Составление</P>
<P STYLE="margin-bottom: 0cm">              и подписание
проект-контракта.</P>
<P STYLE="margin-bottom: 0cm"> <U>3 Этап – </U><U>Проектирование
</U><U>структуры ПО и технологий</U></P>
<P STYLE="margin-bottom: 0cm">              Мы составим
детальный план реализации продукта,
структуру и разобьем 
</P>
<P STYLE="margin-bottom: 0cm">              основной проект
на подпроекты и закрепим за каждым
подпроектом команду</P>
<P STYLE="margin-bottom: 0cm">              разработчиков.</P>
<P STYLE="margin-bottom: 0cm"><FONT SIZE=3 STYLE="font-size: 13pt"><B>Непосредственно
разработка ведется слаженной командой:</B></FONT></P>
<P STYLE="margin-bottom: 0cm"> <U>1 </U><U>Интегратор</U></P>
<P STYLE="margin-bottom: 0cm">               Интегратор
получает ТЗ подпроекта и организует
работу разработчиков и 
</P>
<P STYLE="margin-bottom: 0cm">               верификаторов,
составляет регулярные отчеты о проделанной
работе и 
</P>
<P STYLE="margin-bottom: 0cm">               несет
ответственность за реализацию подпроекта.</P>
<P STYLE="margin-bottom: 0cm"> <U>2 </U><U>Разработчик</U></P>
<P STYLE="margin-bottom: 0cm">               Разработчик
пишет программный код в соответствии
с задачами</P>
<P STYLE="margin-bottom: 0cm">               которые ему
ставит интегратор и тесно взаимодействует
с верификатором,</P>
<P STYLE="margin-bottom: 0cm">               который указывает
на ошибки и отклонения от поставленной
задачи.</P>
<P STYLE="margin-bottom: 0cm"><U>3 Верификатор</U></P>
<P STYLE="margin-bottom: 0cm; font-style: normal; font-weight: normal">
<FONT COLOR="#000000">               <FONT FACE="Liberation Serif, serif"><FONT SIZE=3>Верификатор
анализирует код написанный разработчиком
указывает, на</FONT></FONT></FONT></P>
<P STYLE="margin-bottom: 0cm; font-style: normal; font-weight: normal">
<FONT COLOR="#000000">               <FONT FACE="Liberation Serif, serif"><FONT SIZE=3>ошибки
в программном коде и отклонения от
поставленной интегратором</FONT></FONT></FONT></P>
<P STYLE="margin-bottom: 0cm; font-style: normal; font-weight: normal">
<FONT COLOR="#000000">               <FONT FACE="Liberation Serif, serif"><FONT SIZE=3>задачи.
В обязанности верификатора также входит
составление технической</FONT></FONT></FONT></P>
<P STYLE="margin-bottom: 0cm; font-style: normal; font-weight: normal">
<FONT COLOR="#000000">               <FONT FACE="Liberation Serif, serif"><FONT SIZE=3>документации,
которую он пишет основываясь на
программном коде.</FONT></FONT></FONT></P>
<P STYLE="margin-bottom: 0cm; font-style: normal; font-weight: normal">
<BR>
</P>
<P STYLE="margin-bottom: 0cm; font-style: normal"><FONT COLOR="#000000"><FONT FACE="Liberation Serif, serif"><FONT SIZE=3 STYLE="font-size: 13pt"><B>Внедрение
и отладка:</B></FONT></FONT></FONT></P>
<P STYLE="margin-bottom: 0cm; font-style: normal; font-weight: normal">
<FONT COLOR="#000000">               <FONT FACE="Liberation Serif, serif"><FONT SIZE=3>По
окончанию разработки Вы получите
хорошо документированный</FONT></FONT></FONT></P>
<P STYLE="margin-bottom: 0cm; font-style: normal; font-weight: normal">
<FONT COLOR="#000000">               <FONT FACE="Liberation Serif, serif"><FONT SIZE=3>программный
продукт, мы обучим персонал и предоставим
гарантию на время</FONT></FONT></FONT></P>
<P STYLE="margin-bottom: 0cm; font-style: normal; font-weight: normal">
<FONT COLOR="#000000">               <FONT FACE="Liberation Serif, serif"><FONT SIZE=3>действия
которой будем устранять обнаруженные
ошибки.</FONT></FONT></FONT></P>

