<P STYLE="margin-bottom: 0cm">Корпоративный сайт -
это не только <B>реклама</B> или красивая
картинка, но и <B>один из </B>
</P>
<P STYLE="margin-bottom: 0cm"><B>инструментов ведения
бизнеса</B>, цель которого - <B>повышение
удобства работы</B> с 
</P>
<P STYLE="margin-bottom: 0cm">существующими клиентами,
<B>снижение нагрузки на персонал</B> и
изучение спроса. 
</P>
<P STYLE="margin-bottom: 0cm"><BR>
</P>
<P STYLE="margin-bottom: 0cm"><B>Наша компания предлагает
сделать это следующим способом: </B>
</P>
<P STYLE="margin-bottom: 0cm">	1. Разработать сайт; 
</P>
<P STYLE="margin-bottom: 0cm">	2. Провести рекламную
кампанию; 
</P>
<P STYLE="margin-bottom: 0cm">	3. Обеспечить Вашему
сайту квалифицированную поддержку. 
</P>
<P STYLE="margin-bottom: 0cm"><BR>
</P>
<P STYLE="margin-bottom: 0cm"><FONT SIZE=3 STYLE="font-size: 13pt"><B>Процесс
разработки сайта состоит из нескольких
этапов:</B></FONT></P>
<P STYLE="margin-bottom: 0cm"> <U>1 Этап – Создание
дизайна сайта, прорисовка </U>
</P>
<P STYLE="margin-bottom: 0cm">              На этом этапе
определяется внешний вид сайта, его
цветовая гамма, 
</P>
<P STYLE="margin-bottom: 0cm">              расположение
информационных блоков, меню, подбирается
сочетание 
</P>
<P STYLE="margin-bottom: 0cm">              шрифтов. На
основе Вашего фирменного стиля будет
разработан 
</P>
<P STYLE="margin-bottom: 0cm">              уникальный
дизайн сайта.</P>
<P STYLE="margin-bottom: 0cm"><U> 2 Этап – Установка
базовой системы управления. </U>
</P>
<P STYLE="margin-bottom: 0cm">              Этот этап
включает регистрацию доменного имени,
</P>
<P STYLE="margin-bottom: 0cm">	  приобретение хостинга,
</P>
<P STYLE="margin-bottom: 0cm">              размещение
системы управления на хостинге и 
</P>
<P STYLE="margin-bottom: 0cm">              привязка
доменного имени к хостингу.</P>
<P STYLE="margin-bottom: 0cm"> <U>3 Этап – Внесение
информации на сайт </U>
</P>
<P STYLE="margin-bottom: 0cm">              Мы разместим
всю предоставленную информацию для
сайта, 
</P>
<P STYLE="margin-bottom: 0cm">              фотографии,
документы. 
</P>
<P STYLE="margin-bottom: 0cm"><BR>
</P>
<P STYLE="margin-bottom: 0cm"><FONT SIZE=3 STYLE="font-size: 13pt"><B>Рекламная
капания может быть организована
различными способами:</B></FONT></P>
<P STYLE="margin-bottom: 0cm"> <U>1 Регистрация в
поисковых системах</U></P>
<P STYLE="margin-bottom: 0cm">               Позволяет людям
сделавшим запрос в поисковой системе
найти Ваш сайт.</P>
<P STYLE="margin-bottom: 0cm"> <U>2 Регистрация сайта
в досках объявлений и на других сайтах</U></P>
<P STYLE="margin-bottom: 0cm">               Можно привлечь
не мало людей которые на своих любимых
ресурсах</P>
<P STYLE="margin-bottom: 0cm">	   встретят ссылку на
Ваш сайт.</P>
<P STYLE="margin-bottom: 0cm"><U>3 Контекстная реклама</U></P>
<P STYLE="margin-bottom: 0cm; font-style: normal; font-weight: normal">
<FONT COLOR="#000000">               <FONT FACE="Liberation Serif, serif"><FONT SIZE=3>Контекстная
реклама действует более избирательно
и отображается </FONT></FONT></FONT>
</P>
<P STYLE="margin-bottom: 0cm; font-style: normal; font-weight: normal">
<FONT COLOR="#000000">               <FONT FACE="Liberation Serif, serif"><FONT SIZE=3>посетителям
интернет-страницы, сфера интересов
которых потенциально</FONT></FONT></FONT></P>
<P STYLE="margin-bottom: 0cm; font-style: normal; font-weight: normal">
<FONT COLOR="#000000">               <FONT FACE="Liberation Serif, serif"><FONT SIZE=3>совпадает/пересекается
с тематикой рекламируемого товара либо
услуги, </FONT></FONT></FONT>
</P>
<P STYLE="margin-bottom: 0cm; font-style: normal; font-weight: normal">
<FONT COLOR="#000000">               <FONT FACE="Liberation Serif, serif"><FONT SIZE=3>целевой
аудитории, что повышает вероятность их
отклика на рекламу.</FONT></FONT></FONT></P>
<P STYLE="margin-bottom: 0cm; font-style: normal; font-weight: normal">
<BR>
</P>
<P STYLE="margin-bottom: 0cm; font-style: normal"><FONT COLOR="#000000"><FONT FACE="Liberation Serif, serif"><FONT SIZE=3 STYLE="font-size: 13pt"><B>Техническая
поддержка:</B></FONT></FONT></FONT></P>
<P STYLE="margin-bottom: 0cm; font-style: normal; font-weight: normal">
<FONT COLOR="#000000">               <FONT FACE="Liberation Serif, serif"><FONT SIZE=3>Решение
текущих технических проблем, связанных
с работоспособностью сайта, </FONT></FONT></FONT>
</P>
<P STYLE="margin-bottom: 0cm; font-style: normal; font-weight: normal">
<FONT COLOR="#000000">               <FONT FACE="Liberation Serif, serif"><FONT SIZE=3>а
также консультирование связанное с
использованием сайта.</FONT></FONT></FONT></P>

