div(class="texMenu menuItem cursorPointer", id="dMainPage")
	p главная
div(class="texMenu menuItem cursorPointer", id="dServices")
	p услуги
div(class="texMenu menuItem cursorPointer", id="dContacts")
	p контакты
div(class="texMenu menuItem cursorPointer", id="dAbout")
	p о нас
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
script(type='text/javascript')
	$(document).ready(function(){
		$('#dMainPage').click(function(){
			contentTarget("#main");
			//window.location.hash = "#main"
			//ubdateContent();
			//self.scroll(1,0); //прокрутка вверх
			//alert("www1");
		});
	
		$('#dServices').click(function(){
			contentTarget("#services");
			//window.location.hash = "#services"
			//ubdateContent();
			//self.scroll(1,0);
			//alert("www1");
		});
	
		$('#dContacts').click(function(){
			contentTarget("#contacts");
			//window.location.hash = "#contacts"
			//ubdateContent();
			//self.scroll(1,0);
			//alert("www1");
		});

		$('#dAbout').click(function(){
			contentTarget("#about");
			//window.location.hash = "#about"
			//ubdateContent();
			//self.scroll(1,0);
			//alert("www1");
		});
		
	});
