!!!
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(type='text/javascript', src='/javascripts/jq/jquery-1.7.min.js')
    link(rel="icon", type="image/gif", href="/favicon.gif")
    //script(type="text/javascript", src="http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js")
  body!= body
