//h1= title
//p Welcome to #{title}

body()
	table(style="height:800px;", width="100%", cellspacing="0", cellpadding="0")
		tr
			td(height="150px",width="206px", style="border-top: none; border-bottom: 1px solid #000000; border-left: none; border-right: none;", align="center")
				img(src="/logo/pulse - logo.jpg")
			td(height="150px",width="100%", style="border-top: none; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none;", class="hpanel", align="center")
				h1 pulse-cc.org
				//marquee(scrollamount="1", scrolldelay="20" ) test test test
				marquee(scrollamount="1", scrolldelay="25" )
					span(class="rl1") 
						!= runLines.rl1
						//include ../public/content/rl/rl1.html
				marquee(scrollamount="2", scrolldelay="25" )
					span(class="rl2")
						!= runLines.rl2
						//include ../public/content/rl/rl2.html
				marquee(scrollamount="3", scrolldelay="25" )
					span(class="rl3")
						!= runLines.rl3
						//include ../public/content/rl/rl3.html
				
		tr
			td(height="720px",width="206px", style="border-top: none; border-bottom: none; border-left: none; border-right: none; padding:5px; vertical-align:top;", class="vpanel")
				div(id="menu")
					include includes/menu.jade
			td(height="720px",width="100%", style="border-top: none; border-bottom: none; border-left: 1px solid #000000; border-right: none; padding:5px; vertical-align:top;")
				div(id="content", class="cont")
					!= content


////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
script(type='text/javascript')
	var hashNow = window.location.hash;
	$(document).ready(function(){
		ubdateContent();
		$(window).bind('hashchange', function() {
			//alert("Якорь изменен на "+window.location.hash);
			ubdateContent();

		});
	});
	function ubdateContent() {
		if (typeof(ubdateContent.lastHash) == 'undefined') {
			ubdateContent.lastHash = "1234567890";
		}
		if(ubdateContent.lastHash === window.location.hash)
			return;
		ubdateContent.lastHash = window.location.hash;
		if(window.location.hash.substring(1) === "") {
			$('#content').load("/ajax");
		}
			else {
			$('#content').slideUp(777,function() {
				$('#content').load('/ajax/?content=' + window.location.hash.substring(1), function() {
					$('#content').slideDown(777);
				});
			});

		}
	}
	function contentTarget(target) {
		if(target === window.location.hash) {
			return;
		}
		window.location.hash = target;
		ubdateContent();
	}
