body {
  padding: 0px;
  margin: 0px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
p {
    margin-top: 0.5em; /* Отступ сверху */
    margin-bottom: 1em; /* Отступ снизу */
}
.texMenu {
  font-size:18px;
  color:#00AAFF;
  text-align:center;
}
.menuItem {
background-color:#333333;
border-radius:6px; 
-webkit-border-radius:6px; 
-moz-border-radius:5px; 
-khtml-border-radius:10px
}
.menuItem:hover {
background-color:#000033;
color:#ffff00;
border-radius:6px; 
-webkit-border-radius:6px; 
-moz-border-radius:5px; 
-khtml-border-radius:10px
}
.cursorPointer {
    cursor:pointer;
}

.hpanel {
	background: #fff url(/images/h-gr.png) no-repeat;
	min-width: 240px;
   /*background-color: #eee url(/images/h-gr.png);*/
    /*background: -webkit-gradient(linear, left top, right top, from(#ccc), to(#fff), color-stop(0.7, #fff));  
    background: -moz-linear-gradient(left top, #ccc, #fff 70%);  
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr=#ccccccFF, endColorStr=#FFFFFFFF, GradientType=1);  
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#ccccccFF, endColorstr=#FFFFFFFF, GradientType=1)";*/
}
.vpanel {
	background: #fff url(/images/v-gr.png) no-repeat;
  /* background-color:#eee;
background: -webkit-gradient(linear, left top, left bottom, from(#ccc), to(#fff));  
        background: -moz-linear-gradient(top, #ccc, #fff);  
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#ccccccFF, endColorstr=#FFFFFFFF);  
        -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#ccccccFF, endColorstr=#FFFFFFFF)";  */
}

.cont {
	/*width: 1000px;*/
	height: 700px; 
	background: #fff url(/logo/PulseSoulu-fon.png) no-repeat;
	overflow:auto;
	border:1px solid #ccc;
	padding: 10px;
}

.rl1 {
	font-size: 16px;
	color: #ccccff;
	font-weight: bold;
	/*background-color: #0099ff;*/
}
.rl2 {
	font-size: 18px;
	color: #9999cc;
	font-weight: bold;
	/*background-color: #0099ff;*/
}
.rl3 {
	font-size: 20px;
	color: #555599;
	font-weight: bold;
	/*background-color: #0099ff;*/
}
