<P STYLE="margin-bottom: 0cm">«<B>Pulse Computer Consulting</B>»  -
общество с ограниченной ответственностью.
Данное предприятие сформировала
небольшая команда разработчиков
программного обеспечения, уставшая
работать в организациях, где критериями
оценки труда программиста являются
количество написанного кода и время,
проведенное им на работе. Мы считаем,
что в программировании главное —
качество (то есть функциональная полнота,
удобство и надежность), и не важно, где
был написан качественный код: дома или
на работе. Основным принципом предприятия
является распределенное выполнение
проектов при отсутствии центрального
офиса. Проще говоря, <B>наш офис – это
Интернет</B>.</P>
<P STYLE="margin-bottom: 0cm"><BR>
</P>
<P STYLE="margin-bottom: 0cm">В совет директоров
предприятия входят:</P>
<OL>
	<LI><P STYLE="margin-bottom: 0cm">Генеральный директор
	Жуков Антон Андреевич</P>
	<LI><P STYLE="margin-bottom: 0cm">Научный руководитель
	Обувалин Дмитрий Михайлович</P>
	<LI><P STYLE="margin-bottom: 0cm">Начальник службы
	безопасности Якубов Максим Валерьевич</P>
</OL>
<P STYLE="margin-bottom: 0cm"><BR>
</P>
<P STYLE="margin-bottom: 0cm">Помимо программирования
предприятие занимается также решением
экологических задач, в частности,
проведением инвентаризации источников
выбросов, загрязняющих атмосферу. 
</P>
<P STYLE="margin-bottom: 0cm">В начале 2012 года это
направление выделилось в «<B>Pulse Ecology
Group</B>». 
</P>
<P STYLE="margin-bottom: 0cm"><BR>
</P>
<P STYLE="margin-bottom: 0cm"><BR>
</P>
<P STYLE="margin-bottom: 0cm">В данный момент мы ведем
работу по расширению видов деятельности
и готовы обсудить Ваши предложения. Мы
также приглашаем к сотрудничеству
программистов и других специалистов в
области информационных технологий,
разделяющих наши взгляды на принципы
разработки информационных систем. 
</P>

