<P STYLE="margin-bottom: 0cm"><FONT SIZE=4 STYLE="font-size: 15pt"><B>Нижегородская
обл. г. Саров Музрукова 25/1/33 индекс
607182.</B></FONT></P>
<P STYLE="margin-bottom: 0cm"><FONT SIZE=4 STYLE="font-size: 15pt"><B>Телефон:
8(903)657-11-97.</B></FONT></P>
<P STYLE="margin-bottom: 0cm"><FONT SIZE=4 STYLE="font-size: 15pt"><B>eMail1:
pulse.cc@mail.ru</B></FONT></P>
<P STYLE="margin-bottom: 0cm"><FONT SIZE=4 STYLE="font-size: 15pt"><B>eMail2:
PulseCompCo@gmail.com</B></FONT></P>
<P STYLE="margin-bottom: 0cm"><BR>
</P>
<P STYLE="margin-bottom: 0cm"><BR>
</P>
<P STYLE="margin-bottom: 0cm"><B>Фирма ООО «Пульс
Компьютер Консалтинг» или Pulse Computer
Consulting географически находится в г. Саров
Нижегородской области. Однако наши
разработчики находятся в разных частях
мира и в основном работа ведется удаленно.</B></P>

