<P STYLE="margin-bottom: 0cm">Здравствуйте.</P>
<P STYLE="margin-bottom: 0cm">Мы рады приветствовать
Вас на сайте фирмы Pulse Computer Consulting. В
данный момент сайт еще находится на
стадии разработки, но здесь уже доступна
некоторая информация.</P>
<P STYLE="margin-bottom: 0cm">Наша фирма
занимается <B>разработкой программного
обеспечения</B> от простых веб сайтов до
сложных программных комплексов. Наши
специалисты имеют большой опыт разработки:</P>
<P STYLE="margin-bottom: 0cm; font-style: normal; font-weight: normal">
<FONT COLOR="#000000"><FONT FACE="Liberation Serif, serif"><FONT SIZE=3 STYLE="font-size: 11pt">Операционные
системы:<BR>- Microsoft (Windows [7, XP, 2000], DOS)<BR>- UNIX
(Linux [Debian, Red Hat], RTEMS)<BR>- Mac OS X</FONT></FONT></FONT></P>
<P STYLE="margin-bottom: 0cm; font-style: normal; font-weight: normal">
<FONT COLOR="#000000"><FONT FACE="Liberation Serif, serif"><FONT SIZE=3 STYLE="font-size: 11pt">Языки
программирования:<BR>- C, С++ (GNU, Microsoft Visual
Studio, Mac XCode, Watcom)<BR>- javascript (Mozilla, Google V8)<BR>-
Pascal (Delphi)<BR>- SQL (MS SQL Server, MySQL, Oracle)<BR>-
Assembler (Intel x86, Intel 860)<BR>- Unix Shell Scripts (sh, csh,
bash, tcsh)<BR><BR>Инструменты и технологии:<BR>-
make (GNU, Microsoft)<BR>- системы управления
версиями (git, svn, CVS, Visual Source Safe, Rational Clear
Case)<BR>- DCOM, OPC<BR>- XML (DOM, SAX)<BR>- TCP/IP<BR>-
SNMP<BR><BR>Библиотеки:<BR>- Qt (v3, 4)<BR>- STL, boost<BR>-
ATL, WTL, MFC (Microsoft)<BR>- VCL (Borland)<BR><BR>Прочее:<BR>-
UML, CMM (Capability Maturity Model), XP (eXtremal Programming)</FONT></FONT></FONT></P>
<P STYLE="margin-bottom: 0cm">Кроме разработки ПО мы
оказываем услугу по <B>разработке проекта ПДВ (Предельно Допустимых Выбросов) для получения разрешения на выброс ЗВ (загрязняющего вещества)</B>. Более подробно
Вы можете почитать в разделе <a href="javascript: contentTarget('#services');">услуги</a>. 
</P>
<P STYLE="margin-bottom: 0cm">Еще наша компания
занимаемся разработкой свободного
программного обеспечения и библиотек,
но информация об этом будет доступна
несколько позже по мере доработки сайта.</P>
<P STYLE="margin-bottom: 0cm">Если у Вас появятся
вопросы или предложения свяжитесь с
нами по адресу мы будем рады их с Вами обсудить. Связаться с нами можно например по eMail pulse.cc@mail.ru или любым другим способом доступным на странице <a href="javascript: contentTarget('#contacts');">контакты</a>
</P>

